/* Base Styles */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html, body {
    font-family: 'Roboto', sans-serif;
    background-color: #f4f4f4;
    color: #333;
    margin: 0;
    height: 100%;
    overflow-x: hidden;
}

:root {
    --primary-color: #181818;
    --secondary-color: #0056b3;
    --background-light: #181818;
    --background-dark: #181818;
    --text-light: #fff;
    --text-dark: #fff;
    --user-message: #dcf8c6;
    --bot-message: #e9f5ff;
    --shadow-light: rgba(0, 0, 0, 0.1);
    --shadow-dark: rgba(0, 0, 0, 0.3);
    --border-radius: 0;
}

.btn{
    background-color: var(--primary-color);
    color: var(--text-dark);
}
/* Main container styling */
.main-container {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

/* Content Layout */
.content-container {
    display: flex;
    flex-grow: 1;
    min-height: 100vh;
    background-color: var(--background-light);
}

/* Sidebar */
.sidebar {
    width: 100%;
    max-width: 250px;
    background-color: var(--background-light);
    color: var(--text-light);
    padding: 20px;
    box-shadow: 0px 4px 10px var(--shadow-light);
    flex-shrink: 0;
    position: relative; /* Ensure the close button is positioned correctly */
}

/* Close button */
.close-btn {
    position: absolute;
    top: 10px;
    right: 10px;
    background-color: transparent;
    border: none;
    font-size: 24px;
    cursor: pointer;
    color: var(--text-light);
}

.sidebar h2 {
    font-size: 20px;
    margin-bottom: 15px;
}

.sidebar p {
    margin-bottom: 10px;
    line-height: 1.5;
}


/* Chat Section */
.chat-section {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
}

.chat-container {
    background-color: var(--text-light);
    border-radius: var(--border-radius);
    box-shadow: 0 4px 10px var(--shadow-light);
    display: flex;
    flex-direction: column;
    padding: 10;
    height: 95vh;
}

/* Chat Header */
.chat-header {
    background-color: var(--primary-color);
    color: var(--text-light);
    padding: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: var(--border-radius) var(--border-radius) 0 0;
    user-select: none;
}

/* Chat Display */
.chat-display {
    flex-grow: 1;
    padding: 20px;
    background-color: var(--background-light);
    overflow-y: auto;
    overflow-x: hidden;
    max-height: 100%;
}

.chat-display::-webkit-scrollbar {
    width: 8px;
}

.chat-display::-webkit-scrollbar-thumb {
    background-color: var(--primary-color);
    border-radius: 10px;
}

.chat-display::-webkit-scrollbar-track {
    background-color: #f7f7f7;
}

/* Chat Bubbles */
.message {
    width: fit-content;
    margin-bottom: 10px;
    padding: 10px;
    border-radius: 5px;
    word-wrap: break-word;
    font-size: 14px;
    display: flex;
    align-items: center;
    white-space: pre-wrap;
    overflow-wrap: anywhere;
}

.message img {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    margin-right: 10px;
}

.message.user {
    background-color: var(--user-message);
    margin-left: auto;
    color: var(--text-dark);
}

.message.bot {
    background-color: var(--bot-message);
    margin-right: auto;
    color: var(--text-dark);
}

/* Chat Input */
.chat-input {
    display: flex;
    justify-content: center;
    padding: 10px;
    background-color: var(--background-light);
    border-radius: 0 0 var(--border-radius) var(--border-radius);
    gap: 10px;
}

.chat-input textarea {
    max-width: 80%;
    width: 20vw;
    flex-grow: 1;
    border: 1px solid #ddd;
    padding: 10px;
    border-radius: 40px;
    resize: vertical;
    height: 40px; 
    font-size: 14px;
    background-color: #f7f7f7;
    color: var(--background-light);
}

.chat-input textarea:focus {
    outline: none;
    border-color: var(--primary-color);
}

.chat-input textarea::-webkit-scrollbar{
    display: none;
}

.chat-input button {
    background-color: var(--primary-color);
    color: var(--text-light);
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 14px;
    transition: background-color 0.3s ease, transform 0.1s ease;
}

.chat-input button:hover {
    background-color: var(--secondary-color);
    transform: scale(1.05);
}

/* Footer */
.footer {
    position: relative;
    bottom: 0;
    background-color: var(--primary-color);
    color: var(--text-light);
    text-align: center;
    padding: 15px;
    border-top: 3px solid var(--secondary-color);
    font-size: 14px;
}

.footer a {
    color: var(--text-light);
    text-decoration: none;
}

.footer a:hover {
    text-decoration: underline;
}

/* Responsive Media Queries */
@media (max-width: 768px) {
    .sidebar {
        display: none;
    }
    .chat-section {
        order: 1;
        width: 100vw;
        height: 100vh;
    }
    .chat-header,.chat-display{
        border-radius: 0;
    }
    .content-container {
        padding: 0;
    }

    .chat-input{
        border-radius: 5px;
    }
    .chat-container{
        width: 100vw;
        height: 100vh;
    }
}

@media (max-width: 576px) {
    .main-header {
        display: none;
    }

    .chat-input button {
        padding: 8px 15px;
        font-size: 12px;
    }

}

/* Dark Mode Toggle Styles */
.dark-mode-toggle {
    position: relative;
    margin-right: 10px;
}

#darkModeToggle {
    display: none;
}

.toggle-label {
    display: flex;
    align-items: center;
    cursor: pointer;
}

.sun-icon, .moon-icon {
    font-size: 20px;
    margin-left: 5px;
    display: none;
}

.sun-icon {
    color: #ffcc00;
}

.moon-icon {
    color: #f1c40f;
}

/* Show icons based on the theme */
body.dark-mode .sun-icon {
    display: inline;
}

body:not(.dark-mode) .moon-icon {
    display: inline;
}

/* General Styles for Dark Mode */
body.dark-mode {
    background-color: var(--background-dark);
    color: var(--text-light);
}

body.dark-mode .main-header {
    background-color: #333;
    border-bottom-color: #555;
}

body.dark-mode .content-container {
    background-color: #222;
}

body.dark-mode .sidebar {
    background-color: #555;
}

body.dark-mode .close-btn{
    color: var(--text-light);
}

body.dark-mode .chat-container {
    background-color: #333;
}

body.dark-mode .chat-header {
    background-color: #444;
}

body.dark-mode .message.user {
    background-color: #5fbf72;
}

body.dark-mode .message.bot {
    background-color: #4a4a4a;
    color: var(--bot-message);
}

body.dark-mode .chat-display {
    background-color: #222;
    color: #fff;
}

body.dark-mode .chat-input {
    background-color: #444;
}

body.dark-mode .chat-input textarea {
    background-color: #444;
    color: white;
    border: none;
}

body.dark-mode .chat-input button {
    background-color: var(--secondary-color);
}

body.dark-mode .footer {
    background-color: #333;
    border-top-color: #555;
}
