<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tars</title>
    <link rel="icon" href="/tars/assets/tars-black.png">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/tars/static/style.css">
</head>

<body>
    <div class="main-container">
        

        <div class="content-container">
            <aside class="sidebar" id="sidebar">
                <button class="close-btn" id="close-btn">&times;</button>
                <h2>About Tars</h2>
                <p>Tars is an AI chatbot</p>
                <p><strong>Version:</strong> 1.0.0</p>
                <p><strong>Powered by:</strong> Flask &amp; Python</p>
            </aside>
            

            <section class="chat-section">
                <div class="chat-container">
                    <header class="chat-header">
                        <h2><img src="/tars/assets/logo.png" height="80px"></h2>
                        
                        <button id="reset-btn" class="btn btn-outline-secondary">Reset Chat</button>
                        
                    </header>

                    <div class="chat-display" id="chat-display"></div>

                    <div class="chat-input">
                        <textarea id="message-input" placeholder="Type your message here..."></textarea>
                        <button id="send-btn" class="btn btn-primary">Send</button>
                    </div>
                </div>
            </section>
        </div>

        <footer class="footer">
            <p>&copy; 2024 Tars Chatbot | Pavan | Gyan</p>
        </footer>
    </div>

    <script src="static/script.js"></script>
    <script src="static/theme.js"></script>
</body>
</html>
